body{
    background-color: rgb(207, 232, 247);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: rgb(187, 185, 221);
    text-align: center;
    color: ;
}
h2{
    color: slateblue;
}
h3{
    color: rgb(141, 134, 184);
}